<p id="notice"><%= notice %></p>

<div class="title separator">
  <%= @question.title %>
</div>
<div id="question">
  <div class="sidebar">
    <%= render 'questions/side'%>
  </div>
  <div class="content">
    <div class="text">
      <%= @question.text.html_safe %>
    </div>
    <!-- tags -->
    <%if @question.tags.length>0 %>
        <div class="tags">
          <%@question.tags.each do |tag| %>
              <div class="tag"><%=tag.text%></div>
          <% end %>
        </div>
    <% end %>
    <!-- End taga -->
    <div class="comment-label">
      Add comment
    </div>
  </div>
</div>
<!-- Answers block -->
<%if @question.answers.count>0 %>
  <div class="title">
    <%= @question.answers.count %>
    <%= @question.answers.count>1 ? 'Answers' : 'Answer' %>
  </div>
  <%@question.answers.each do |answer|%>
    <%= render 'answers/answer', :answer => answer%>
  <% end %>
<% end %>
<!-- END Answers block -->
<%=render 'answers/add_answer', :locals => {:question => @question}%>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
