<p id="notice"><%= notice %></p>

<div class="title separator">
  <%= @question.title %>
</div>
<div id="question">
  <div class="sidebar">
    <%= render 'questions/side'%>
  </div>
  <div class="text">
    <%= @question.text %>
  </div>
  <%if @question.tags.length>0 %>
      <div class="tags">
        <%@question.tags.each do |tag| %>
            <div class="tag"><%=tag.text%></div>
        <% end %>
      </div>
  <% end %>
</div>



<div id="comment">
  Add answer
</div>



<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
