<p id="notice"><%= notice %></p>

<div class="title separator">
  <%= @question.title %>
</div>
<div id="question">
  <div class="sidebar">
    <%= render 'questions/side'%>
  </div>
  <div class="content">
    <div class="text">
      <%= @question.text.html_safe %> %>
    </div>
    <%if @question.tags.length>0 %>
        <div class="tags">
          <%@question.tags.each do |tag| %>
              <div class="tag"><%=tag.text%></div>
          <% end %>
        </div>
    <% end %>
    <div class="comment-label">
      Add comment
    </div>
  </div>
</div>
<!-- Answers block -->
<%if @question.answers.count>0 %>
  <div class="title separator">
    <%= @question.answers.count %>
    <%= @question.answers.count>1 ? 'Answers' : 'Answer' %>
  </div>
  <%@question.answers.each do |answer|%>
    <div id="answer separator">
      <div class="sidebar">
        <%= render 'questions/answer_side', :locals => {:answer=>answer} %>
      </div>
      <div class="content">
        <div class="text">
          <%= @answer.text.html_safe %>
        </div>
        <div class="comment-label">
          Add comment
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<!-- END Answers block -->
<%=render 'answers/add_answer'%>





<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
